<template>
  <card :title="$t('home')">
    {{ $t('you_are_logged_in') }}

    <router-link :to="{ name: 'profile' }" class="btn btn-primary btn-sm">
        Cek Biodata
    </router-link>

    <router-link :to="{ name: 'employee.index' }" class="btn btn-primary btn-sm">
        Daftar Pegawai
    </router-link>
    
  </card>
</template>

<script>
export default {
  middleware: 'auth',

  head () {
    return { title: this.$t('home') }
  }
}
</script>
