<template>
  <div class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Biodata</a></li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-12 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img :src="user.photo_url" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{ user.name }}</h4>
                      <h6 class="text-muted font-size-sm">Pria | 1993</h6>
                      <h6 class="text-muted font-size-sm">Kotabaru | Kalimantan Selatan</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nama Lengkap</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user.name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      wahyu.exam07@gmail.com
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Hp</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     0823 - 5198 - 3881
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Alamat</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      Kotabaru, Kalimantan Selatan
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Pendidikan Terakhir</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     SMK (Jurusan Penjualan)
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
                 <div class="card mb-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                    <span class="text-secondary">wahyuExam07</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                    <span class="text-secondary">wahyuExam07</span>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-3">
                  <div class="card-body font-muted text-center">Travelling</div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-3">
                  <div class="card-body font-muted text-center">Nonton Anime</div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-3">
                  <div class="card-body font-muted text-center">Ngoding Yang Belum Lancar</div>
              </div>
            </div>

             <div class="col-md-12">
              <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="text-center font-weight-light ">Belajar Saat Ini Untuk Melakukan Perubahan Dimasa Akan Datang</h5>
                  </div>
              </div>
            </div>

          </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
 computed: mapGetters({
    user: 'auth/user'
  }),
}
</script>
