<template>
  <card title="Update Pegawai">
    <form @submit.prevent="save()">
        <div class="form-group row">
            <label for="inputNama" class="col-sm-2 col-form-label">Nama</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputNama" placeholder="Masukkan Nama" v-model="form.name">
            </div>
        </div>
        
        <div class="form-group row">
            <label for="inputTanggalLahir" class="col-sm-2 col-form-label">Tanggal Lahir</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputTanggalLahir" placeholder="Masukkan Tanggal Lahir" v-model="form.date_of_birth">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputJobTitle" class="col-sm-2 col-form-label">Job Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputJobTitle" placeholder="Masukkan Job Title" v-model="form.job_title">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input type="submit" class="btn btn-primary btn-md" value="Update Pegawai">
            </div>
        </div>
    </form>
  </card>
</template>

<script>

import axios from 'axios'
import Swal from 'sweetalert2'

export default  {
  middleware: 'auth',   

  head () {
    return { title: "Tambah Pegawai" }
  },

  async asyncData(context){
      let resp = (await axios.get('employee/' + context.params.id)).data;
      let form = resp.data;
      return {
          form
      }
  },
  
  data(){
      return {
          
      }
  }, 

  methods : {
        async save(){
            let resp = (await axios.patch('employee/'+this.$route.params.id, this.form)).data;
            Swal.fire({
                icon: 'success',
                title: 'Berhasil',
                text: 'Data Berhasil Diupdate',
                confirmButtonText: 'OK'
            });

            this.$router.push({name: 'employee.index'});
      } 
  }

}
</script>
