<template>
  <card title="Tambah Pegawai">
    <form @submit.prevent="save()">
        <div class="form-group row">
            <label for="inputNama" class="col-sm-2 col-form-label">Nama</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputNama" placeholder="Masukkan Nama" v-model="form.name">
            </div>
        </div>
        
        <div class="form-group row">
            <label for="inputTanggalLahir" class="col-sm-2 col-form-label">Tanggal Lahir</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputTanggalLahir" placeholder="Masukkan Tanggal Lahir" v-model="form.date_of_birth">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputJobTitle" class="col-sm-2 col-form-label">Job Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputJobTitle" placeholder="Masukkan Job Title" v-model="form.job_title">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input type="submit" class="btn btn-primary btn-md" value="Tambah Pegawai">
            </div>
        </div>
    </form>
  </card>
</template>

<script>

import axios from 'axios'
import Swal from 'sweetalert2'

export default  {
  middleware: 'auth',   

  head () {
    return { title: "Tambah Pegawai" }
  },
  
  data(){
      return {
          form : {
              name : '',
              date_of_birth : '',
              job_title : '',
              profiles  : []
          }
      }
  }, 

  methods : {
        async save(){
            await axios.post('employee', this.form).then(resp => {
                Swal.fire({
                    icon: 'success',
                    title: 'Berhasil',
                    text: 'Data Berhasil Disimpan',
                    confirmButtonText: 'OK'
                });

                this.$router.push({name: 'employee.index'});
            })
            .catch (({ response }) => {
                // console.log(response.data.errors)
                let errs = response.data.errors;

                let msg;
                Object.keys(errs).forEach(function(key) {
                    // console.log(errs[key][0]);
                    msg = errs[key][0];
                    console.log(msg);
                });
                Swal.fire({
                    icon: 'error',
                    title: 'Gagal Simpan',
                    text: msg,
                    confirmButtonText: 'OK'
                });
            })
      } 
  }

}
</script>
