<template>
  <card title="Daftar Pegawai">
    <p> Jumlah Pegawai <b>{{ count }}</b> Orang <br>
        <router-link :to="{ name: 'employee.create' }" class="btn btn-primary btn-sm">
           Tambah Pegawai
        </router-link> 
    </p> 
    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gutters-sm">
        <div class="col mb-3" v-for="employee in employees" :key="employee.id">
          <div class="card">
            <br><br><br>
            <div class="card-body text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" style="width:100px;margin-top:-65px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
              <h5 class="card-title">{{ employee.name }}</h5>
              <p class="text-secondary mb-1">{{ employee.date_of_birth}}</p>
              <p class="text-muted font-size-sm">{{ employee.job_title }}</p>
            </div>
            <div class="card-footer">
              <router-link :to="'/employee/update/' + employee.id" class="btn btn-info btn-sm btn-block ">
                <fa icon="edit" />
              </router-link>

              <button class="btn btn-danger btn-sm btn-block" @click="deleteEmployee(employee)">
                <fa icon="trash" />
              </button>

            </div>
          </div>
        </div>
    </div>    
  </card>
</template>

<script>
import axios from 'axios'
import Swal from 'sweetalert2'

export default {
  middleware: 'auth',   

  head () {
    return { title: "Daftar Pegawai" }
  },

  async asyncData(context){
      let resp = (await axios.get('employee')).data;
    //   console.log(resp);
      let employees = resp.data;
      let count     = resp.count;

      return {
          employees,
          count
      }
  },
  methods : {
      async deleteEmployee (employee){
        Swal.fire({
          icon: 'warning',
          title: 'Perhatian',
          text: 'Apakah Pegawai Dengan Nama "' + employee.name + '" Akan Dihapus',
          reverseButtons: true,
          showConfirmButton: true,
          showCancelButton: true,
          confirmButtonText: 'OK',
          cancelButtonText: 'Batal'
        }).then(async (result) => {
            if (result.value){
                  // console.log('hapus');
                  let resp = (await axios.delete('employee/' + employee.id)).data;
                  Swal.fire({
                      icon: 'success',
                      title: 'Berhasil',
                      text: 'Data Berhasil Dihapus',
                      confirmButtonText: 'OK'
                  });

                  // this.$router.push({name: 'employee.index'}).catch(()=>{});
                  await this.$nuxt.refresh()
            }
        })
        
      }
  }
}
</script>
